@use "./variables";

p {
    margin: 0;
    font-size: 3rem;
}

.about-paragraph {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: justify;
    width: 70%;
    opacity: .8;
}

.links-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 4rem;
    gap: 2rem;

    a {
        font-size: 2rem;
        text-decoration: none;
        opacity: .6;
        line-height: variables.evenLineHeight(2rem);
        letter-spacing: calc(2rem * .2);
    }
}