@use "./variables";
@use "sass:color";

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    font-size: 2rem;
    width: 50%;

    label {
        opacity: .5;
        text-align: right;
    }
    
    input, textarea {
        border: 2px solid rgba(var(--anti-theme-r), var(--anti-theme-g), var(--anti-theme-b), .5);
        border-top: 0;
        border-left: 0;
        border-right: 0;
        text-align: right;
        resize: none;
        width: 100%;
        font-size: 2rem;

        &:focus {
            outline: none;
        }
    }

    input {
        width: 60%;
    }

    button {
        margin-top: 20%;
        border: none;
        opacity: 1;
        font-size: 3rem;
        text-align: right;
        line-height: variables.evenLineHeight(3rem);
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }
}

.bottom-caption {
    position: absolute;
    left: 4rem;
    margin: 0;
    font-size: 2rem;
    line-height: variables.evenLineHeight(2rem);
    letter-spacing: calc(2rem * .2);
    opacity: .6;
}