@use "./variables";

.home-container {
}

.link-container {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    a {
        font-family: "Noto Serif Display", serif;
        font-size: 6rem;
        font-weight: 200;
        line-height: variables.evenLineHeight(6rem);
        text-decoration: none;
        text-align: right;
        transition: transform 0.5s ease-out;

        &:hover {
            transform: translateX(-2rem);
        }
    }
}

.bottom-caption {
    position: absolute;
    left: 4rem;
    margin: 0;
    font-size: 2rem;
    line-height: variables.evenLineHeight(2rem);
    letter-spacing: calc(2rem * 0.2);
    opacity: 0.6;
}
