@use "./variables";

.projectContainer {
    transition: transform .5s ease-out;
    width: fit-content;

    &:hover {
        transform: translateX(-3rem);
        cursor: pointer;
    }
}


.projectTitle {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Noto Serif Display", serif;
    font-size: 6rem;
    font-weight: 200;
    text-align: right;
}

.techText {
    font-size: 2rem;
    opacity: 0.5;
    text-align: right;
}
