@use "./variables";

.projects-container {
    display: flex;
    align-items: unset;
    justify-content: unset;
}

.list-controls {
    width: 20%;
}

.project-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 2rem;
}

